* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1.repo-title {
  padding: 16px;
  margin: 0;
}

header {
  display: flex;
  padding: 16px;
  gap: 16px;
}

main {
  display: flex;
}

div.total-amount {
  padding: 16px;
}

div.total-amount h3 {
  padding: 0;
  margin: 0;
}

div.total-amount a {
  font-size: 14px;
}

.input-group input {
  display: block;
}

.ot-preset-list {
  padding: 16px;
  margin: 16px;
  border: 1px solid #ccc;
  min-width: 200px;
  width: 30dvw;
}

.ot-calculation-list {
  padding: 16px;
  margin: 16px;
  border: 1px solid #000;
  min-width: 200px;
  width: 30dvw;
}

.ot-calculation-list input:after {
  display: block;
  content: "hours";
}

.ot-preset {
  padding: 16px;
  background-color: #eee;
  margin-bottom: 8px;
  user-select: none;
}

.ot-preset .name {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 8px;
}

.ot-preset .description {
  font-size: 12px;
}

span.circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 8px;
}

.ot-item {
  padding: 16px;
  margin-bottom: 8px;
  background-color: #eee;
}

.ot-item-title span {
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px;
  margin: 0 4px;
}

.ot-item-content {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.ot-item-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.ot-item-input-wrapper input {
  padding: 4px 36px 4px 4px;
  border: 1px solid #ccc;
  width: 64px;
}

.ot-item-input-wrapper label {
  font-size: 12px;
  position: absolute;
  right: 4px;
}

.ot-item-extra-money {
  font-size: 14px;
  color: #444;
  padding: 0 8px;
}

.ot-calculation-list-drop-message {
  text-align: center;
  padding: 16px;
  color: #444;
  font-size: 14px;
}
